# Managed by Ansible — WireGuard config for nuc-01 (Swarm Manager)
[Interface]
Address = {{ wg_manager_ip }}/24
PrivateKey = {{ manager_privkey_b64.content | b64decode | trim }}

[Peer]
PublicKey = {{ server_pubkey.stdout }}
Endpoint = {{ do_public_ip }}:{{ wg_port }}
AllowedIPs = {{ wg_network }}
PersistentKeepalive = 25
