# {{ ansible_managed }}
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: P8E80F9AEF21F6940
        filterByTraceID: true
        filterBySpanID: false
        customQuery: true
        query: '{service_name="${__span.tags["service.name"]}"} |= "${__span.traceId}"'
      tracesToMetrics:
        datasourceUid: PBFA97CFB590B2093
        spanStartTimeShift: "-1m"
        spanEndTimeShift: "1m"
        tags:
          - key: service.name
            value: service
        queries:
          - name: Request rate
            query: rate(traces_spanmetrics_calls_total{$$__tags}[5m])
      serviceMap:
        datasourceUid: PBFA97CFB590B2093
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: P8E80F9AEF21F6940
