# {{ ansible_managed }}
server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: [__meta_docker_container_name]
        regex: /(.*)
        target_label: container
      - source_labels: [__meta_docker_container_label_com_docker_swarm_service_name]
        target_label: service
      - source_labels: [__meta_docker_container_label_com_docker_swarm_task_id]
        target_label: task_id
      - source_labels: [__meta_docker_container_label_com_docker_stack_namespace]
        target_label: stack
      - source_labels: [__meta_docker_container_label_com_docker_swarm_service_name]
        regex: monitoring_loki|monitoring_promtail
        action: drop

  - job_name: airflow-task-logs
    static_configs:
      - targets: [localhost]
        labels:
          job: airflow-task-logs
          service: tradingo_airflow-worker
          __path__: /airflow-logs/dag_id=*/run_id=*/task_id=*/*.log
    pipeline_stages:
      - regex:
          source: filename
          expression: '/airflow-logs/dag_id=(?P<dag_id>[^/]+)/run_id=(?P<run_id>[^/]+)/task_id=(?P<task_id>[^/]+)/'
      - labels:
          dag_id:
          run_id:
          task_id: